In [1]:
from contrans import contrans
import numpy as np
import pandas as pd
import json

In [2]:
ct = contrans()

In [5]:
bioguides = ct.get_bioguideIDs()
bioguides
bio_df = pd.json_normalize(bioguides, record_path=['members'])
bio_df[['name', 'state', 'district', 'bioguideId']]

KeyError: "['district, bioguideId'] not in index"

In [3]:
votes = ct.get_votes()
#test = ct.get_ideology()
votes

        congress chamber  rollnumber  icpsr  cast_code   prob
0            118   House           1  14854          6  100.0
1            118   House           1  14863          6   98.2
2            118   House           1  14873          1  100.0
3            118   House           1  15029          1  100.0
4            118   House           1  15433          1  100.0
...          ...     ...         ...    ...        ...    ...
486659       118   House        1118  31101          6  100.0
486660       118   House        1118  31102          9   99.6
486661       118   House        1118  39301          6  100.0
486662       118   House        1118  39307          6  100.0
486663       118   House        1118  91980          1   99.1

[486664 rows x 6 columns]

In [4]:
print(votes.head())
house = votes[['rollnumber', 'icpsr', 'cast_code']]

   congress chamber  rollnumber  icpsr  cast_code   prob
0       118   House           1  14854          6  100.0
1       118   House           1  14863          6   98.2
2       118   House           1  14873          1  100.0
3       118   House           1  15029          1  100.0
4       118   House           1  15433          1  100.0

In [5]:
house_mat = pd.merge(house, house, on='rollnumber')

house_mat

           rollnumber  icpsr_x  cast_code_x  icpsr_y  cast_code_y
0                   1    14854            6    14854            6
1                   1    14854            6    14863            6
2                   1    14854            6    14873            1
3                   1    14854            6    15029            1
4                   1    14854            6    15433            1
...               ...      ...          ...      ...          ...
211856531        1118    91980            1    31101            6
211856532        1118    91980            1    31102            9
211856533        1118    91980            1    39301            6
211856534        1118    91980            1    39307            6
211856535        1118    91980            1    91980            1

[211856536 rows x 5 columns]

In [6]:
house_mat['agree'] = house_mat['cast_code_x'] == house_mat['cast_code_y']
house_mat = house_mat.groupby(['icpsr_x', 'icpsr_y']).agg({'agree': 'mean'})
house_mat = house_mat.reset_index()

In [7]:
house_mat

        icpsr_x  icpsr_y     agree
0         14854    14854  1.000000
1         14854    14863  0.830948
2         14854    14873  0.386404
3         14854    15029  0.412343
4         14854    15433  0.366726
...         ...      ...       ...
200607    91980    31102  0.731664
200608    91980    31103  0.190805
200609    91980    39301  0.236136
200610    91980    39307  0.239714
200611    91980    91980  1.000000

[200612 rows x 3 columns]

In [8]:
ideo = ct.get_ideology()
members = ideo[['bioname', 'icpsr', 'party_code']]
members

                 bioname  icpsr  party_code
0    ROGERS, Mike Dennis  20301         200
1          SEWELL, Terri  21102         100
2     PALMER, Gary James  21500         200
3         CARL, Jerry L.  22108         200
4           MOORE, Barry  22140         200
..                   ...    ...         ...
443         STEIL, Bryan  21970         200
444   TIFFANY, Thomas P.  21989         200
445    FITZGERALD, Scott  22115         200
446   VAN ORDEN, Derrick  22370         200
447     HAGEMAN, Harriet  22325         200

[448 rows x 3 columns]